*.o
*.lo
*.la
*.a
*.log
*.tmp
*.dis
*~
*.orig
*.swp
*.swo
*.out
*.kdev4

*aclocal.m4

Makefile.in
Makefile
.deps
.libs
autom4te.cache
install-sh
ltmain.sh
missing
depcomp
libtool
m4
ar-lib

build-aux
/build/*
/build-*
test-driver

src/include

